
:root {
    --mainPink: #ef7998;
    --mainYellow: rgb(249, 228, 148);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(249, 228, 148, 0.5);
    --mainGrey: rgb(238, 238, 238);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    list-style-type: none;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}


  body {
    font-family: "Kaushan Script", cursive;
    background: var(--mainWhite);
    color: var(--mainBlack);
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  body::webkit-scrollbar {
    display: none;
}

  .Title-rick {
   font-size: 50px;
    color: rgb(170, 187, 202);
    
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
a {
    color: black;
    line-height: 1;
}

ul {
    list-style-type: none;
}

button:focus {
    outline: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10rem;
    max-width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .card img{
    height: 280px;
    max-height: 280px;
  }
  .desc {
    font-size: 17px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  .about-me{
    background: var(--yellowTrans);
    /* background-image: linear-gradient(to right, rgba(172, 170, 169, 0.497) , rgb(209, 209, 209)); */
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/*Navbar*/
nav {
    
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(91, 130, 129) , rgb(60, 217, 107));
    box-shadow: 10px 10px 5px lightblue;
}
/* logo , my account and shopping cart */
nav .navbar-top {
    max-width: 1600px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-top .logo {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 150px;
    height: 75px;
}

#menuButton {
    width: 45px;
    height: 40px;
    cursor: pointer;
    color: #49989e;
    background: transparent;
    border: none;
    display: none;
    font-size: 1.5rem;
}

#menuButton:focus {
    outline: none;
}

#menuButton:hover {
    color: #0d3c3f;
}

/* container of my account and shopping cart */
.navbar-top > div {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

/* My account text*/
.account-text {
    font-size: 0.9rem;
    padding: 10px;
}
.account-btn {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.account-btn:focus {
    outline: none;
}

.navbar-top .shopping-cart {
    margin-left: 10px;
    font-size: 1.4rem;
}

.about-img__container {
    position: relative;
 
  }

.about-img__container::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid var(--mainYellow);
    z-index: -1;
    transition: all 1s ease-in-out;

  }
  .about-img__container:hover:before {
    top: 0;
    left: 0;
  }


  .store {
    background: var(--mainGrey);
  }
  .img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .store-img {
    transition: all 1s ease-in-out;
  }
  .img-container:hover .store-img {
    transform: scale(1.2);
  }
  .img-container img{
   margin-bottom: 3px;
  }
  .card{
    max-height: 450px;
  }
  .card .img-container img{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.links {
    position: relative;
    display: inline-blo;
    margin: auto;
}

.links ul {
    display: flex;
    flex-direction: row;
}

ul .nav-links {
    cursor: pointer;
    color: #333333;
    text-align: center;
    padding: 15px;
}

.nav-links > a:visited,
.navbar-top > a:visited {
    color: #f1ecec;
}

.link {
    text-align: center;
    font-size: 0.9rem;
    font-size: 22px;
}

.nav-links:hover .link {
    color: #24738b;
    text-decoration: underline;
}

.navbarResponsive .links {
    margin: 5px;
}

.navbarResponsive ul {
    flex-direction: column;
    text-align: left;
}

footer {
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(161, 178, 216) , rgb(55, 108, 146));
}
.footer-column-1 a{
 font-size: 13px;
 color: #f1ecec;
}
.footer-column-2 a{
    font-size: 13px;
    color: #f1ecec;
   }
   .footer-column-3 a{
    font-size: 13px;
    color: #f1ecec;
   }
   .text-about{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .sclass{
    font-size: 32px;
    color: #6d4aae;
   }

footer .footer-second {
    width: 100%;
    display: block;
    padding: 50px 0;
    overflow: hidden;
    text-align: center;
}

.footer-second a {
    display: block;
    margin: 5px auto;
    width: 50%;
    padding: 5px;
    font-size: 0.9rem;
}

.footer-second h3 {
    margin-bottom: 40px;
    font-size: 1rem;
}

.footer-second a:hover {
    color: #1a0f0f91;
    text-decoration: underline;
    text-decoration-color: black;
}

.footer-column-1 {
    width: calc(33.33333%);
    float: left;
}

.footer-column-2 {
    width: calc(33.33333%);
    float: left;
}

.footer-column-3 {
    width: calc(33.33333%);
    float: left;
}

.footer-last {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.footer-last li {
    margin: 0 5px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav .navbar-top {
        padding: 0;
    }

    nav {
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    #hearderSlide .item {
        display: inline-block;
        width: 100%;
    }
    .navbar-top .logo {
        width: 100px;
        float: left;
    }

    #menuButton {
        display: inline;
    }

    .navbar {
        background-color: #141414;
        width: 400px;
        height: 55vh;
        z-index: 10;
        position: absolute;
        top: 100px;
        left: 0;
        transform: translateX(-500px);
    }

    .navbarResponsive {
        transition: transform 0.5s;
        flex-direction: column;
        transform: translateX(0);
    }

    .navbarResponsive:after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .nav-links:hover .link::before {
        display: none;
    }

    .nav-links:hover .link::after {
        display: none;
    }
    .nav-links:hover .link {
        text-decoration: underline;
    }

    .item img {
        padding: 10px 5px;
    }

    .pop-mobiles-2 {
        width: 90%;
        margin-top: 100px;
    }

    .product-container {
        width: 90%;
    }

    .product-over button {
        font-size: 0;
    }

    .product .product-image {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .account-btn {
        font-size: 1rem;
    }

    .product-summary {
        height: 30%;
    }

    .products {
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-summary > p {
        display: none;
    }

    .pop-mobiles-1 > figure {
        width: 70%;
    }

    .pop-mobiles-1 > div {
        left: 10%;
        top: 40%;
        width: 70%;
        height: auto;
    }

    footer .footer-second {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .footer-second h3 {
        margin-bottom: 15px;
    }

    .footer-second > div {
        margin-top: 30px;
        text-align: left;
        width: 100%;
    }
    .footer-second a {
        width: 100%;
    }
}

